@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.post {
  padding: 20px;
  width: 100%;
  background-color: #fff;
}

.post-content {
  font-family: "DM Sans", sans-serif;
  position: relative;
  background-color: white;
  padding-top: 0.5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: auto;
  top: 80%;
  width: 96%; /* Width */
  height: 20%; /*  height  */
}

.post-title {
  font-weight: 300;
  font-size: xx-large;
  margin: 0px;
}

.post-address {
  font-weight: 100;
  font-size: large;
  padding-top: 0px;
}

.post-safety {
  font-weight: 100;
  font-size: small;
  padding-top: 0px;
}

.post-button {
  font-weight: 100;
  font-size: large;
  border-radius: 25;
}

.safety-hearts {
  display: flex;
  padding-right: 1px;
  margin-top: 10px;
  margin-left: 0px;
}

.directions-button {
  font-weight: 500;
  font-size: medium;
  border-radius: 25;
}
