body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Ensures no scroll bars are visible */
}

.map-container {
    height: 100vh;
    width: 100vw;
}

.search-bar-container {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 85%;
    z-index: 1000;
  }